* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #eceef1;
  --color-blue: #0077c5;
  --color-white: #eceef1;
  --color-white: #eceef1;
  --color-brown: #404040;
  --color-green-brown: #8d9096;
}

body {
  background-color: var(--color-white);
}

.form-heading h2 {
  margin: 20px;
}

.form-heading small {
  font-size: smaller;
}

.signin-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.signin-text small {
  display: flex;
  font-size: smaller;
}

.signin-button button {
  padding: 10px;
  font-size: 1em;
  border: none;
  height: inherit;
  background-color: var(--color-blue);
  color: aliceblue;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 3px;
}

.small {
  font-size: 1em;
}

.image {
  text-align: center;
  margin-bottom: 1em;
}

main {
  margin-top: 10px;
}

form div label {
  display: block;
  text-align: left;
  margin: 5px;
  font-weight: normal;
  color: var(--color-brown);
  font-size: 1em;
  line-height: 2em;
}

form div input {
  display: block;
  font-size: 1em;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border: solid black 1px;
  border-radius: 3px;
}

.create-account button {
  margin: 5px;
  border: none;
  background: var(--color-blue);
  color: white;
  font-size: 1em;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

.card {
  margin: 0 auto;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  padding-top: 30px;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.foot-note {
  font-size: 0.9em;
  color: var(--color-green-brown);
}

.small-foot {
  font-size: 0.8em;
  padding: 20px;
  background: var(--color-white);
  color: var(--color-gray);
}

.container {
  padding: 100px;
}

.footer-text {
  text-align: center;
  font-size: smaller;
  color: grey;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-white);
  color: grey;
  text-align: center;
}
