* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eceef1;
}

.form-heading h2 {
  margin: 20px;
}

.form-heading small {
  font-size: smaller;
}

.signin-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.signin-text small {
  display: flex;
  font-size: smaller;
}

.signin-button button {
  padding: 10px;
  font-size: 1.5em;
  border: none;
  height: inherit;
  background-color: #0077c5;
  color: aliceblue;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

.small {
  font-size: 1em;
}

main {
  margin-top: 60px;
}

form div label {
  display: block;
  text-align: left;
  font-size: 1.5em;
  margin: 5px;
}

form div input {
  display: block;
  font-size: 1.5em;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

.create-account button {
  margin: 10px;
  border: none;
  background: #0077c5;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
}

.card {
  margin: auto;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  padding-top: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.foot-note {
  color: grey;
  font-size: x-small;
}

.container {
  padding: 100px;
}

.footer-text {
  text-align: center;
  font-size: smaller;
  color: grey;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eceef1;
  color: grey;
  text-align: center;
}
